{% extends 'base.html.twig' %}

{% block title %}Librarysection index{% endblock %}

{% block body %}
    <h1>Librarysection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for librarysection in librarysections %}
            <tr>
                <td>{{ librarysection.id }}</td>
                <td>{{ librarysection.name }}</td>
                <td>
                    <a href="{{ path('librarysection_show', {'id': librarysection.id}) }}">show</a>
                    <a href="{{ path('librarysection_edit', {'id': librarysection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('librarysection_new') }}">Create new</a>
{% endblock %}